{% extends 'layout/base.twig' %}

{% block body %}
	<article class="page container">
		<h1 class="page-title">{{ post.title }}</h1>
		<div class="page-body">{{ post.content }}</div>
	</article>
{% endblock %}